.hide {
  display: none;
}
/*XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
  main,
  .nav-container,
  .footer-container,
  .gamer-container,
  .header-container {
    padding: 10px 80px;
  }
  footer {
    padding: 1rem 5rem;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  header {
    background-size: 63% 86%;
  }
  .header-title + .text-gradient {
    font-size: 82px;
    font-weight: 800;
  }
}
@media screen and (max-width: 1024px) {
  .badge-img {
    max-width: 150px;
    bottom: -68px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  main,
  .nav-container,
  .footer-container,
  .gamer-container,
  .header-container {
    padding: 10px 30px;
  }
  .header-container,
  .play-game {
    flex-direction: column-reverse;
  }
  .nav-container,
  .gamer-container {
    flex-direction: column;
    gap: 20px;
  }
  .play-game {
    align-items: center;
  }
  .play-game-content {
    text-align: center;
  }
  .gamer-content {
    text-align: center;
  }
  .gamer-container {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  header {
    background-size: 39rem 28rem;
    background-position: bottom center;
    height: auto;
  }
  .header-img {
    margin-top: 1rem;
    width: 80%;
  }
  .gamer-img {
    flex-basis: 65%;
  }
  .gamer-content {
    font-size: 20px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }
  .header-content {
    margin-top: 7rem;
  }
  .play-game {
    justify-content: center;
    align-items: center;
  }
  .funny-content-container {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }
  .play-game {
    max-width: 500px;
    margin: auto;
    margin-top: 2rem;
  }
  .main-img {
    max-width: 300px;
  }
  .badge-img {
    max-width: 185px;
    left: 150px;
    height: 200px;
  }
  footer {
    padding: 1rem 15rem;
  }
  .footer-navigation,
  .terms-container {
    width: 18rem;
  }
  .terms-container ul {
    gap: 1rem;
  }
  .footer-navigation ul {
    gap: 10px;
    flex-wrap: wrap;
  }
  .footer-navigation ul li {
    margin-right: 10px;
  }
  footer {
    padding: 1rem 2rem;
  }

  .social-icons-container {
    width: 16rem;
    margin: 1.5rem auto;
  }
  .footer-navigation, .terms-container{
    margin: 1.5rem auto;
  }
  
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .nav-container {
    padding: 1rem;
  }
  .nav-container,
  nav ul {
    flex-direction: column;
    align-items: center !important;
    gap: 20px;
  }
  header {
    background-size: 30rem 20rem;
  }
  nav li {
    margin-left: 0 !important;
  }
  .follow-us-container {
    margin-left: 0 !important;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  .header-title {
    font-size: 9vw;
  }
  .header-title + .text-gradient {
    font-size: 12vw;
  }
  .header-img {
    width: 100%;
  }

  .btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
    border: 0;
    border-radius: 40px;
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  .go-rougue {
    margin-left: 5px;
  }
  .description-content {
    margin: 18px 0px;
  }
  .funny-content-container {
    grid-template-columns: repeat(1, 300px);
    align-content: center;
  }
  .section-title {
    color: #0b0223;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
}

@media screen and (min-width: 0px) and (max-width: 431px) {
  .header-title {
    font-size: 8vw !important;
  }
  .header-title + .text-gradient {
    font-size: 8vw;
  }
}
