/* navbar styles  */
nav {
  padding: 38px 0;
}
.logo-container {
}
.logo-container img {
  margin-right: 1rem;
  object-fit: contain;
  max-width: 86px;
}
.logo-container p {
  font-size: 45px;
  font-weight: 700;
}
nav li {
  list-style: none;
  margin-left: 32px;
}
nav li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-us-container {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 8px 24px;
}
.follow-us {
  display: inline-block;
  margin-left: 24px;
}
.follow-us svg {
  width: 20px;
}
